<head>
  <title>Walking Routes</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital@1&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Harmattan&display=swap" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.socket.io/socket.io-1.0.6.js"></script>
  <script src='http://localhost:9000/socket.io/socket.io.js'></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<!--Title section-->
<header class="titlePhoto">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <div *ngFor="let walkDetail of walkDetails">
          <h1 class="routeName" id="routeName">{{walkDetail.walkName}}</h1>
          <p class="walkDescription" id="walkDescription">{{walkDetail.walkDescription}}</p>
        </div>
        <br>
        <span><i (click)="addLike()"><i id="likeButton" class="fa fa-thumbs-up"></i></i>
          <p>Likes:<span id="counter"></span></p>
        </span>
      </div>
    </div>
  </div>
</header>
<!--Photos section-->
<div>
  <div class="photoRow">
    <div *ngFor="let photo of photos">
      <div class="photoColumn">
        <img class="photosImage" src="data:image/jpeg;base64,{{photo.photo}}" style="width:100%">
      </div>
    </div>
  </div>
  <!--Facilities section-->
  <h2 class="facilitiesHeading">Facilities</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Dog Bin</th>
        <th scope="col">Car Park</th>
        <th scope="col">Toilets</th>
        <th scope="col">Cafe</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><i id="dogBinIcon" class="fa fa-paw" *ngIf="dogBinExists"></i></td>
        <td><i id="carParkIcon" class="fa fa-paw" *ngIf="carParkExists"></i></td>
        <td><i id="toiletsIcon" class="fa fa-paw" *ngIf="toiletExists"></i></td>
        <td><i id="cafeIcon" class="fa fa-paw" *ngIf="cafeExists"></i></td>
      </tr>
    </tbody>
  </table>
</div>
<!--Comments section-->
<div class="comments">
  <h2 class="commentsHeading">Comments</h2>
  <div class="commentsSection">
    <div *ngFor="let comment of comments">
      <ul class="commentList">
        <li>
          <div class="commentText">
            <p class="">{{comment.comment}}</p> <span class="date sub-text">Submitted by {{comment.userId}}</span>
          </div>
        </li>
      </ul>
    </div>
    <!--Add comments section - TODO: Only if logged in-->
    <form [formGroup]="commentForm" (ngSubmit)="onCommentSubmit()" class="form-inline">
      <div class="form-group" id="inputCommentBox">
        <input class="form-control" id="inputCommentBoxText" type="text" placeholder="Your comments"
          formControlName="comment" />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </form>
  </div>
</div>
