#routeName {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-size: 50px;
  color: #ffb700;
  padding: 0px;
  margin: 0px;
}

#favicon {
  padding: 5px;
}

#walkDescription {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 150%;
  margin: 10px;
  color: white;
}

.facilitiesHeading,
.commentsHeading {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-size: 30px;
  text-align: center;
  color: #ffb700;
  padding: 10px;
}

.facilitiesList {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-size: 20px;
}

.commentsSection {
  margin-right: 5%;
  margin-left: 5%;
}

.titleBox label {
  margin: 0;
  display: inline-block;
}

.commentBox {
  padding: 10px;
  border-top: 1px dotted #bbb;
}

.commentsSection .form-group:first-child {
  width: 100%;
}

.commentsSection .form-group:nth-child(2) {
  width: 100%;
}

.commentsSection .form-group * {
  width: 50%;
}

.taskDescription {
  margin-top: 10px 0;
}

.commentList {
  padding: 0;
  list-style: none;
  max-height: 200px;
  overflow: auto;
}

.commentList li {
  margin: 0;
  margin-top: 10px;
}

.commentList li>div {
  display: table-cell;
}

.commentText p {
  margin: 0;
  font-family: 'Harmattan', sans-serif;
  font-size: 130%;
}

.sub-text {
  color: #aaa;
  font-family: verdana;
  font-size: 11px;
}

.actionBox {
  border-top: 4px dotted #bbb;
  padding: 10px;
}

#inputCommentBox {
  margin-bottom: 5px;
}

#inputCommentBoxText {
  font-size: 15px;
  width: 100%;
}

.titlePhoto {
  height: 70vh;
  min-height: 500px;
  background-image: url('https://images.unsplash.com/photo-1534628526458-a8de087b1123?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#likeButton {
  cursor: pointer;
  font-size: 35px;
  color: #ffb700;
}

td {
  color: #ffb700;
  text-align: center;
}

th {
  color: grey;
  text-align: center;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
}

.photoColumn {
  float: left;
  width: 25%;
  padding: 10px;
}

.photoRow:after {
  content: "";
  display: table;
  clear: both;
}

#submitButton {
  width: 30%;
  display: inline-block;
}

#commentSuccessMessage {
  margin-left: 5px;
  width: 40%;
}
