#routeName {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-size: 50px;
  color: #ffb700;
  padding: 0px;
  margin: 0px;
}

#favicon {
  padding: 5px;
}

#walkDescription {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 25px;
  margin: 10px;
}

.column {
  float: left;
  padding: 10px;
}

.column img {
  border-radius: 25px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.facilitiesHeading {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-size: 30px;
  margin: 2px;
}

.facilitiesList {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-size: 20px;
}

.commentsSection {
  padding: 20px;
}

.detailBox {
  margin: auto;
  width: 60%;
  border: 3px dashed #bbb;
  padding: 5px;
}

.titleBox {
  background-color: #fdfdfd;
  color: #ffb700;
  padding: 10px;
  font-size: 50px;
  text-align: center;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
}

.titleBox label {
  margin: 0;
  display: inline-block;
}

.commentBox {
  padding: 10px;
  border-top: 1px dotted #bbb;
}

.commentBox .form-group:first-child,
.actionBox .form-group:first-child {
  width: 80%;
}

.commentBox .form-group:nth-child(2),
.actionBox .form-group:nth-child(2) {
  width: 18%;
}

.actionBox .form-group * {
  width: 100%;
}

.taskDescription {
  margin-top: 10px 0;
}

.commentList {
  padding: 0;
  list-style: none;
  max-height: 200px;
  overflow: auto;
}

.commentList li {
  margin: 0;
  margin-top: 10px;
}

.commentList li>div {
  display: table-cell;
}

.commentText p {
  margin: 0;
  font-family: 'Harmattan', sans-serif;
  font-size: 30px;
}

.sub-text {
  color: #aaa;
  font-family: verdana;
  font-size: 11px;
}

.actionBox {
  border-top: 4px dotted #bbb;
  padding: 10px;
}
