<head>
  <title>Walking Routes</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital@1&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Harmattan&display=swap" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.socket.io/socket.io-1.0.6.js"></script>
  <script src='http://localhost:9000/socket.io/socket.io.js'></script>
</head>-->


<!--Photos section-->
<div class="row">
  <div *ngFor="let photo of photos">
    <div class="column">
      <img class="photo" src="data:image/jpeg;base64,{{photo.photo}}">
    </div>
  </div>
  <!--Walk detail section-->
  <div *ngFor="let walkDetail of walkDetails">
    <h1 id="routeName">{{walkDetail.walkName}}</h1>
    <p id="walkDescription">{{walkDetail.walkDescription}}</p>
  </div>
  <br>
  <!--Facilities section-->
  <h2 class="facilitiesHeading">Facilities</h2>
  <div *ngFor="let facilityDetail of facilityDetails">
    <div class="facilitiesList" *ngFor="let facility of facilityDetail.facilities"><i id="favicon"
        class="fa fa-paw"></i>
      {{facility}}</div>
  </div>
  <p><button id='likeButton' class="bnt btn-lg btn-success" (click)="addLike()"><i id="favicon"
        class="fa fa-thumbs-up"></i></button></p>
  <p>Likes:<span id="counter"></span></p>
</div>
<!--Comments section-->
<div class="commentsSection">
  <div class="detailBox">
    <div class="titleBox">
      <label>Comments</label>
    </div>
    <div class="actionBox">
      <div *ngFor="let comment of comments">
        <ul class="commentList">
          <li>
            <div class="commentText">
              <p class="">{{comment.comment}}</p> <span class="date sub-text">Submitted by {{comment.userId}}</span>
            </div>
          </li>
        </ul>
      </div>
      <!--Add comments section - TODO: Only if logged in-->
      <form [formGroup]="commentForm" (ngSubmit)="onCommentSubmit()" class="form-inline">
        <div class="form-group" id="inputCommentBox">
          <input class="form-control" id="inputCommentBoxText" type="text" placeholder="Your comments"
            formControlName="comment" />
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
