<head>
  <title>Simple Map</title>
  <script src='https://api.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.js'></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.css' rel='stylesheet' />
</head>

<body>
  <div class="walks" *ngFor="let walk of walks">
    <div class="walks">
      <a id="walk">Walk: {{walk.walkId}}, {{walk.walkName}}, {{walk.latitude}}, {{walk.longitude}}</a>
    </div>
  </div>
  <div class="map" id="map" class="match-parent"></div>
</body>
