#title {
  font-family: 'Pacifico', cursive;
  color: #ffb700;
  text-align: center;
  font-size: 70px;
  margin: 2px;
  background-color: white;
  text-shadow: -1px -1px 0 grey, 1px -1px 0 grey, -1px 1px 0 grey, 1px 1px 0 grey;
}

.topnav {
  overflow: hidden;
  background-color: white;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: grey;
  padding: 2px 16px;
  text-decoration: none;
  font-size: 40px;
  display: block;
  text-align: right;
}

.topnav a.icon {
  background: white;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  color: #ffb700;
}

.active {
  background-color: white;
  color: white;
}

#navbarText {
  font-size: 30px;
  color: #ffb700;
  background-color: #f4da91;
  text-shadow: -1px -1px 0 grey, 1px -1px 0 grey, -1px 1px 0 grey, 1px 1px 0 grey;

}
